@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-arrow {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-prev {
  position: absolute;
  left: -21px;
  top: 36%;
  transform: translateY(-50%);
}

.custom-next {
  position: absolute;
  right: -4px;
  top: 37%;
  transform: translateY(-50%);
}
